.app-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 16px;
  height: 64px;
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  background-color: skyblue;
  z-index: 1;
}

.menu-lateral{
  display: none;
}

.infnet-logo{
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 12px
}

.infnet-logo-imagem{
  width: 36px;
  height: 36px
}

.contatos{
  display: flex;
  justify-content: end; 
  gap: 24px;
  flex-grow: 1
}

.git-logo{
  border-radius: 50%;
  width: 24px;
  height: 24px
}

.md-menu{
  width: 24px;
  height: 24px
}

.links-cabecalho{
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-size: 0.8em;
  font-weight: bold; 
  display: none;
}


@media(min-width: 960px){
  .links-cabecalho{
    display: flex;
  } 
}