.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;


    border-radius: 4px;
    max-width: 800px;
    margin: 10px;
    padding: 24px;
    background-color: #e4e7ed;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.title{
    font-weight: bold;
    font-size: 1.1rem;
}

.input-topico{
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 4px;
    margin: 4px 0;
    width: 250px;
}

.botao{
    background-color: #252440;
    color: white;
    padding: 4px;
    border-radius: 4px;
    border: none;
    font-size: 0.8;
    width: 250px;
    margin-top: 16px;
}

@media(min-width: 600px){
    .container{
        height: 300px;
        margin: 10px auto;
    }
    .title{
        font-size: 1.5rem;
    }
    .input-topico{
        width: 400px;
    }
    .botao{
        width: 400px;
    }
    
  }

  @media(min-width: 900px){
    .title{
        font-size: 2rem;
    
    }
    
  }
